.grepper_answer_enhanced .commando_selectable{
    margin:0px !important;
    margin-bottom:10px !important;
}


.grepper_answer_enhanced{
    border:1px solid rgb(234, 234, 234) !important;
    border-radius:5px !important;
    font-size:15px !important;
    line-height: 21px !important;
    padding:10px !important;
    padding-bottom:0px !important;
    margin-top:7px !important;
    margin-bottom:7px !important;
   /* font-family: Roboto,arial,sans-serif !important;*/
    /*color:#202124 !important;*/
 }

/*dark theme*/
.grepper_answer_enhanced{
background-color:#050504 !important;
/*background-color:#0f0f0d !important;*/
color: rgb(248, 248, 242) !important;
font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
color-scheme: dark !important;
}

.grepper_answer_enhanced a:hover,
.grepper_answer_enhanced a:visited,
.grepper_answer_enhanced a{
    /*color:#4FBCFF !important;*/
    color:#99c8ff !important;
}


.grepper_answer_enhanced .grepper_visit_product_button{
    text-align:center;
    border-radius: 30px;
    padding: 10px 35px;
    /*text-shadow: rgb(0 0 0 / 50%) 0px 1px;*/
    display:inline-block;
    cursor:pointer;
    /*background-color:rgb(153, 200, 255) !important;*/
    border:2px solid  rgb(153, 200, 255) !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom:25px;
    margin-top:25px;
}

.grepper_answer_enhanced .grepper_visit_product_button:hover{
    background: #1d252e !important;
    text-decoration:none;

}

.grepper_answer_enhanced p{
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding-bottom:10px !important;
    position:relative !important;
    /*
    display:block;
    min-height:20px !important;
    */
}
.grepper_answer_enhanced p:hover,
.grepper_answer_enhanced p:active,
.grepper_answer_enhanced p:focus{
    outline: none !important;
    -webkit-appearance:none;
}

.grepper_answer_enhanced p.grepper_show_placeholder:before{
  content: attr(placeholder) !important;
  pointer-events: none !important;
  display: block !important;
  /*color:#9ca3af !important;*/
  color:#b0b8c6 !important;
  font-style:italic !important;
  position:absolute !important;
}



.grepper_answer_enhanced:focus{
    outline: none !important;
}

.grepper_ae_language_select{
    text-align: right !important;
    position: relative !important;
    width: 100% !important;
    direction: ltr !important;
    height:0px !important;
    height:0px !important;
    display:block !important;
}
.grepper_ae_language_select select{
    position:absolute !important;
    right:0px !important;
    top: -14px !important;
    border-width: 0px !important;
    border-style: solid !important;
    border-color: rgb(0, 0, 0) !important;
    border-image: initial !important;
    background: none !important;
   /*color: rgb(119, 119, 119) !important;*/
    color: rgb(248, 248, 242) !important;
    font-size: 11px !important;
    line-height: 11px !important;
    padding:0px !important;
    appearance:auto !important;
}

.add_content_icon_main.grep_selected{

     transform: rotate(45deg) !important;
}

.content_add_element{
   /*border:1px solid #202124;*/
    /*rgba(0,0,0,.70);*/
    border-radius:100px !important;
    font-size:16px !important;
    font-weight:normal !important;
    height:25px !important;
    width:25px !important;
    display:block !important;
    line-height:25px !important;
    text-align:center !important;
    padding:0px !important;
    margin:0px !important;
    cursor:pointer !important;
    top:-2px !important;

    /*background:#f1f3f4 !important;*/
    /*background:rgb(248, 248, 242) !important;*/
    background:#8a909c !important;
}

.add_content_icon_main{
    transition: transform .1s !important;
    position:absolute !important;
}
.add_content_icon_holder{
    position:absolute !important;
    top:-2px !important;
}

.add_content_icon_holder i{
    font-size:16px !important;
    line-height:16px !important;
    vertical-align:top !important;
    position:relative !important;
    top:4px !important;
    padding:0px !important;
    margin:0px !important;
}

.add_content_icon_holder .content_add_element{
    display:inline-block !important;
    margin-right:8px !important;
}
.content_add_element_code{
font-size:16px !important;
}

.grepper_placeholder_text{
    color:#9ca3af !important;
    position:absolute !important;
    left:0px !important;
}


.editor_content_box{
    font-weight: normal !important;
    color: rgba(255,255,255) !important;
    font-size: 18px !important;
    position:absolute !important;
    height:44px !important;
    line-height:44px !important;
    background: linear-gradient(#272726, #363634) !important;
    border-radius:8px !important;
    cursor:pointer !important;
    padding-left:10px !important;
    padding-right:10px !important;
    z-index:2147483647 !important;
}

.editor_content_box .italic{
    font-style: italic !important;
    font-weight:normal !important;
}

.editor_content_box span{
    display:inline-block !important;
    padding-left:6px !important;
    padding-right:6px !important;
}

.grepper_editor_italic,
.grepper_editor_bold{
    color:#fff !important;
    font-family: "Times New Roman", Times, serif !important;
}

.editor_content_box.hideicons span{
    display:none !important;
}

.editor_content_box input{
    font-size:16px !important;
    padding:5px 0px !important;
    background:none !important;
    color:#fff !important;
    height:30px !important;
    line-height:30px !important;
    display:inline-block !important;
    width:300px !important;
}
.delete_me_menu_icon{
    color:#fff !important;
    display:inline-block !important;
    padding:5px !important;
    font-size:20px !important;
    line-height:18px !important;
    margin:0px !important;
    position:relative !important;
    left:3px !important;
}
.editor_content_box .action_on{
    color:#72bf3b !important;
}

.grepper_writeup_menu_divider{
    display:inline-block !important;
    font-weight:normal !important;
    height:20px !important;
    top:4px !important;
    margin-right:4px !important;
    position:relative !important;
    width:1px !important;
    border-right:1px solid #aaa !important;
}
.writeup_menu_arrow_down{
  width: 0 !important;
  height: 0 !important;
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-top: 7px solid #363634 !important;
  position:absolute !important;
  bottom:-7px !important;
  left: 50% !important;
  transform: translate(-50%,0) !important;
  padding:0px !important;
  margin:0px !important;
  /* background: linear-gradient(#272726, #363634);*/
}

.grepper_answer_enhanced u{
    
    /*vertical-align: baseline !important;*/
    font-size: 1em !important;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
    /*background: rgb(221, 221, 221) !important;*/
    /*background: rgb(39, 40, 34) !important;*/
    background: #33352d !important;
    padding: 2px 4px !important;
    text-decoration: underline !important;
  	text-decoration-color:rgb(221, 221, 221) !important;
    text-decoration-thickness:0 !important;
    font-size:14px !important;
}

.grepper_code_wrapper_divs{
display:block !important;
height:10px !important;
}

.TaysCodeMirrorMarginBottom{
    margin-bottom:0px !important;
}

p.no_bottom_padding{
    padding-bottom:0px !important;
}

.grepper_answer_enhanced_outer #commando_save_answer_holder {
    margin-bottom:60px !important;
}

