@font-face {
  font-family: 'GrepperIcons';
  src: url("chrome-extension://__MSG_@@extension_id__/semantic/fonts/icons.eot");
  src:  url("chrome-extension://__MSG_@@extension_id__/semantic/fonts/icons.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

i.greppericon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'GrepperIcons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



i.greppericon:before {
  background: none !important;
}


i.greppericon.grepper_italic:before {
  content: "\f033";
}
i.greppericon.grepper_bold:before {
  content: "\f032";
}
i.greppericon.grepper_unlinkify:before {
  content: "\f127";
}
i.greppericon.grepper_linkify:before {
  content: "\f0c1";
}

i.greppericon.grepper_code:before { content: "\f121"; }

div.greppericon{
  font-family: 'GrepperIcons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
div.greppericon.grepper_add:before {
  content: "\f067";
}
div.greppericon.grepper_code:before {
  content: "\f121";
}

